{% extends "homepage.html" %} {% load staticfiles %} {% block content %}

  <div class="form" style="margin-top: 150px" >
      <form class="login-form" action="/create/event" method="POST"> {% csrf_token %}
				<div>
        	<label class="w3-left w3-text-gray w3-margin-bottom w3-margin-top"> Event Name</label>
        	<input type="text" id="name" name="name" placeholder="Event Name" required/>
				</div>
				<div>
					<label class="w3-left w3-text-gray w3-margin-bottom w3-margin-top"> Initial Date</label>
        	<input type="date" id="ini_date" name="ini_date" placeholder="Initial Date" required/>
				</div>
				<div>
					<label class="w3-left w3-text-gray w3-margin-bottom w3-margin-top"> End Date</label>
        	<input type="date" id="end_date" name="end_date" placeholder="End date" required/>
				</div>
				<div>
					<label class="w3-left w3-text-gray w3-margin-bottom" for="user"> Choose events type</label>
	        <select class="bttn" style="width:250px; align-content: center" id="type" name="type" required>
          <option disabled selected value>Select an artwork</option>
          <option value="Painting">Painting</option>
	        <option value="Sculpture">Sculpture</option>
	        <option value="Photography">Photography</option>
	        </select>
				</div>
				<div>
        	<button style="margin-top: 50px" type="submit" id="button" >Create</button>
				</div>
      </form>
  </div>
  {% endblock content %}
