{% extends "homepage.html" %} {% load staticfiles %} {% block content %}
<div class="menuSeparator"></div>
  {% for e in events %}
    <div class="eventWrapper">
    <div>{{ e.name }}</div>
      <div class="w3-col l3 s12">
        <div class="w3-card w3-round-large w3-display-container eventBody" style="background-image: url('{% static 'img/images.jpeg' %}')">
          <div class="w3-container w3-padding">
            <div class="bttn" onclick="visitEvent('{{e.pk}}')">Enter</div>
            {% if role == "Artist" %}
            <div class="bttn addArtworkBttn" onclick="addArtwork('{{e.pk}}')">Add Artwork</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% empty %}
<div class="w3-container w3-center">
    <h4 class="w3-text-gray">No events yet.</h4>
</div>
{% endfor %}
<script>
function addArtwork(id){
  window.location.href = "/add/artwork/" + id
}
function visitEvent(id){
  window.location.href = "/visit/event/" + id
}
</script>
{% endblock content %}
