{% extends "homepage.html" %} {% load staticfiles %} {% block content %}

<div class="login-page">
  <div class="form">
  <form class="login-form" enctype="multipart/form-data" method="POST"> {% csrf_token %}

  {{form.as_p}}

  <div>
    <label class="w3-left w3-text-gray w3-margin-bottom" for="user"> Choose events type</label>
    <select class="bttn" style="width:250px; align-content: center" id="type" name="artwork_type">
    <option disabled selected value="{{artwork.art_type}}">{{artwork.art_type}}</option>
    <option value="Painting">Painting</option>
    <option value="Sculpture">Sculpture</option>
    <option value="Photography">Photography</option>
    </select>
  </div>

    <button class="modify" type="submit" name="modify">Modify</button>

  </form>
  </div>
</div>
</div>
  {% endblock content %}
