{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="/accounts/signup" method="POST"> {% csrf_token %}
        <div>
        <label class="w3-left w3-text-gray w3-margin-bottom" for="user"><i class="fa fa-user"></i> Choose your role</label>
        <br>
        <select id="role" name="role" required>
        <option value="Customer" selected="Customer" onclick="customer()">Customer</option>
        <option value="Artist" onclick="customer()">Artist</option>
        <option value="Organizer" onclick="organizer()">Organizer</option>
        </select>
        <br>
        </div>
        <label class="w3-left w3-text-gray w3-margin-bottom" for="user"><i class="fa fa-user"></i> Username</label>
        <input type="text" id="username" name="usernamesignup" placeholder="username" required/>
        <label class="w3-left w3-text-gray w3-margin-bottom w3-margin-top" for="pass"><i class="fa fa-key"></i> Password</label>
        <input type="password" id="password" name="passwordsignup" placeholder="password" required/>
        <label class="w3-left w3-text-gray w3-margin-bottom w3-margin-top" for="pass"><i class="fa fa-key"></i> e-mail</label>
        <input type="email" id="email" name="emailsignup" placeholder="email" required/>
        <label class="w3-left w3-text-gray w3-margin-bottom" for="user"><i class="fa fa-user"></i> DNI</label>
        <input type="text" id="dni" name="dnisignup" placeholder="dni" required/>
        <label class="w3-left w3-text-gray w3-margin-bottom" for="user"><i class="fa fa-user"></i> First name</label>
        <input type="text" id="firstname" name="firstnamesignup" placeholder="firstname" required/>
        <label class="w3-left w3-text-gray w3-margin-bottom" for="user"><i class="fa fa-user"></i> Last name</label>
        <input type="text" id="lastname" name="lastnamesignup" placeholder="lastname" required/>
        <label class="w3-left w3-text-gray w3-margin-bottom" for="user"><i class="fa fa-user"></i> Phone number</label>
        <input type="text" id="phonenumber" name="phonenumbersignup" placeholder="phonenumber" required/>
        <div id="customer" style="display: block;">
          <label class="w3-left w3-text-gray w3-margin-bottom w3-margin-top" for="pass"><i class="fa fa-key"></i> Bank account</label>
          <input type="text" id="bank_account" name="bank_account_signup" placeholder="Bank account" required/>
        </div>
        <div id="organizer" style="display: none;">
          <label class="w3-left w3-text-gray w3-margin-bottom w3-margin-top" for="pass"><i class="fa fa-key"></i> Enterprise CIF</label>
          <input type="text" id="afiliation_CIF" name="afiliation_CIF_signup" placeholder="Enterprise CIF"/>
        </div>
        <button type="submit">Continue</button>
        <p class="message" style="font-size:15px; color:black">Already registered? <a href="/accounts/login">Sign In</a></p>
      </form>
    </div>
  </div>
  <!-- <script src="{% static 'js/login.js' %}"></script> -->
  <script>
  function customer(){
    var x = document.getElementById("customer");
    var y = document.getElementById("organizer");
    if (x.style.display == "none") {
      x.style.display = "block";
      document.getElementById("bank_account").required = true;
    }
    if (y.style.display == "block"){
      y.style.display = "none"
      document.getElementById("afiliation_CIF").required = false;
    }
  }

  function organizer(){
    var x = document.getElementById("customer");
    var y = document.getElementById("organizer");
    if (y.style.display == "none") {
      y.style.display = "block";
      document.getElementById("afiliation_CIF").required = true;
    }
    if (x.style.display == "block"){
      x.style.display = "none"
      document.getElementById("bank_account").required = false;
    }
  }
  </script>
  {% if errors %}
  <script>
    swal("", '{{ errors }}',"error");
  </script>
  {% endif %}
  {% if msg %}
  <script>
    swal("", '{{ msg }}','{{ type }}');
  </script>
  {% endif %}
</body>
</html>
