{% extends "homepage.html" %} {% load staticfiles %} {% block content %}
<span vocab="http://schema.org/" typeof="Event">
<h1 style="margin-top:200px">
    <span property="name">{{ e.name }}</span>
    {% if member == e.created_by %}
        (<a href="/modify/event/{{event.pk}}">edit</a>)
    {% endif %}
</h1>
<h2>Initial date:</h2>
<p property="startDate">
    2018-03-04
</p>
<h2>End date:</h2>
<p property="endDate">
    2018-09-09
</p>
<h2>Location:</h2>
<div property="location" typeof="Place">
    <a property="url" href="wells-fargo-center.html">
    Event has no location
    </a>
    <span property="name">Event has no location</span>
    <div property="address" typeof="PostalAddress">
      <span property="addressLocality">No adress</span>
    </div>
  </div>
<ul rel="offers">
    {% for a in artworks %}
    <p property="price">10</p>
    <p property="availability">{{a.state}}</p>
    <p property="priceCurrency">10</p>
    <p property="validFrom">2018-03-04</p>
    {% endfor %}
</ul>
<h2>Type:</h2>
<p property="description">
    {{e.type}}
</p>
<h2>Created_by:</h2>
<p property="performer">
    {{e.created_by}}
</p>
</span>

<div class="menuSeparator"></div>
  {% for a in artworks %}
    <div class="eventWrapper">
    <div>{{ a.name }}</div>
      <div class="w3-col l3 s12">
        <div class="w3-card w3-round-large w3-display-container eventBody" style="background-image: url('/media/{{a.image}}')">
          <div class="w3-container w3-padding">
          </div>
        </div>
      </div>
    </div>
{% empty %}
<div class="w3-container w3-center">
    <h4 class="w3-text-gray">No artworks yet.</h4>
</div>
{% endfor %}
{% endblock content %}
