{% extends "homepage.html" %}{% load staticfiles %} {% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="w3-row-padding" style="align: center">
  {% for e in artworks %}
  <link rel="stylesheet" href="/media/{{e.image}}">
  <div  style="height: 600px; width:600px; margin: 0 auto; ">
    <div class="w3-card w3-round-large" style="margin-top: 150px; background-color: #eafcf3"><h1 class="w3-xxlarge " style="text-align:center">{{ e.name }}</h1></div>
    <div class="w3-col l2 s12" style=" height: 600px; width:600px ">
      <div class="w3-card w3-round-large w3-display-container" >
        <div class="w3-container w3-padding">
          <div class="bttn" onclick="modifyEvent('{{ e.pk }}')" style="float:left;">Modify</div>
          <div class="bttn" onclick="deleteEvent('{{ e.pk }}')" style="float:right;">Delete</div>
        </div>
        <div  style="background-color: #eafcf3;  margin: 0 auto" >

          <label style="font-size: 20px; padding-left:10px;"> Art type : {{e.art_type}}</label></br>
          <label style="font-size: 20px; padding-left:10px;"> Date of creation : {{e.date}}</label></br>
          <label style="font-size: 20px; padding-left:10px;"> Price : {{e.price}} €</label></br>
          <label style="font-size: 20px; padding-left:10px;"> State : {{e.state}} </label></br>
          <img src="/media/{{e.image}}" alt="Bla" style="height: 296px;  width:600px;"></img>

        </div>
      </div>

    </div>
  </div>
</div>
{% empty %}
<div class="w3-container w3-center">
    <h1 class="w3-text-gray">No events yet.</h1>
</div>
{% endfor %}
{% if errors %}
  <script>
    swal("", '{{ errors }}');
  </script>
{% endif %}
</div>
<script>
function deleteEvent(id) {
        swal({
                title: "Are you sure?",
                text: "Do you want to delete the artwork? ",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then(function (willDelete) {
                if (willDelete) {
                    swal("OK!", "Artwork was succesfully deleted", "success").then(function () {
                        window.location.href = "/delete/artwork/" + id + "?next=" + window.location.pathname;
                    });
                } else {
                }
            });
    }
function modifyEvent(id){
  window.location.href = "/modify/artwork/" + id
}
</script>
{% endblock content %}
