{% load staticfiles %}

<ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link w3-margin-left">
            <i class="fa fa-home"></i> Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item w3-margin-left">
            <li class="nav-item active">
            <a class="nav-link" href="/staff/newslist">
                <i class="fa fa-newspaper"></i> NANA</a>
    </li>
    <li class="nav-item w3-margin-left">
            <li class="nav-item active">
            <a class="nav-link" href="/staff/list_articles">
                <i class="fa fa-pencil-alt"></i> Articles in process</a>
    </li>
